<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Votación</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/superadmin/sistemav/votacionA')}}">
</head>
<body>
    <div class="contenedor">
        <h1>Resultados de la Votación</h1>

        <div id="resultados"></div>

        <button onclick="window.location.href='admin.html'">Volver al panel</button>
    </div>

    <script src="{{url_for('static',filename='js/superadmin/resultado')}}"></script>
</body>
</html>
