{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/superadmin/gestion_usuarios/profesores.css') }}">

<header class="main-header">
    <h1>Mi Comunidad Educativa</h1>
    <div class="header-icons">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-user"></i>
    </div>
</header>

<main class="content-area">
    <section class="page-header">
        <div class="title-action">
            <h2 class="page-title">Directorio de Padres</h2>
        </div>
    </section>

    <section class="table-container">
        <div class="table-controls">
            <div class="search-bar">
                <i class="fa-solid fa-search"></i>
                <input type="search" placeholder="Buscar Padres por Nombre o No. Identidad">
            </div>
        </div>

        <table class="user-table">
            <thead>
                <tr>
                    <th>No. Identidad</th>
                    <th>Nombre Completo</th>
                    <th>Correo Electrónico</th>
                    <th>Hijos Asignados</th>
                    <th>Estado de Cuenta</th>
                </tr>
            </thead>
            <tbody id="padres-table-body">
            </tbody>
        </table>
    </section>
</main>

<script src="{{ url_for('static', filename='js/superadmin/padres.js') }}"></script>

{% endblock %}